/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "./pikaday.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


[x-cloak] {
    display: none;
}

.dt-layout-row:has(.dt-search),
.dt-layout-row:has(.dt-length),
.dt-layout-row:has(.dt-paging) {
  display: none !important;
}

#hero{
  background-image: url('/public/img/pexelsbackround.jpg');
}